* {
    margin: 0;
    padding: 0;
}

/*           Navbar Style            */

.navbarUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 130px;
}

.navbarUpLeft {
    display: flex;
    color: rgba(34, 34, 34, 1);
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
}

.navbarUpLeft a{
    text-decoration-line: none;
    color: rgba(34, 34, 34, 1);
}

.navbarUpLeft a:visited{
    color: rgba(34, 34, 34, 1);
    text-decoration-line: none;
}

.products {
    margin-left: 70px;
}

.about {
    margin-left: 70px;
}

.Logo {
    color: rgba(34, 34, 34, 1);
    font-family: "Charm";
    font-size: 48px;
    margin-right: 325px;
}

.navbarUpRight {
    position: relative;
}

.navbarUpRight i {
    color: rgba(34, 34, 34, 1)rgba(34, 34, 34, 1);
    font-size: 35px;
}

.navbarUpRight div {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: rgba(186, 93, 44, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    top: -5px;
    right: -10px;
}
.navbarDown{
    color: rgba(35, 82, 117, 1);
    padding: 0px 130px 10px 130px;
    font-family: sans-serif;
    font-weight: 100;
    background-color: rgb(233, 245, 255);
    margin-top: 10px;
    height: 150px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

/*           Footer Style            */
.footer {
    text-align: center;
    padding-bottom: 80px;
    padding: 100px 130px 70px 130px;
}

.footer h1 {
    color: rgba(34, 34, 34, 1);
    font-family: sans-serif;
    font-size: 40px;
}

.footer span {
    color: rgba(186, 93, 44, 1);
    font-family: sans-serif;
    font-size: 40px;
}
.footer p{
    color: rgba(35, 82, 117, 1);
    font-size: 20.5px;
    font-family: sans-serif;
    width: 934px;
    text-align: left;
    margin: auto;
    margin-top: 60px;
    line-height: 33px;
    margin-bottom: 150px;
}

/*           Dialog Style            */
.dialog{
    border: none;
    width: 380px;
    height: 100%;
    background-color: white;
    margin-left: 1140px;
}
.shopUp{
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
}
.shopUp i{
    color: rgba(35, 82, 117, 1);
    font-size: 50px;
    font-weight: 900;
}
.shop h1{
    font-family: "Charm";
    color: rgba(0, 0, 0, 0.87);
    font-size: 32px;
    text-align: center;
    position: relative;
    bottom: 10px;
}
.elem{
    display: flex;
    padding: 0px 20px;
    position: relative;
    margin-bottom: 20px;
}
.elem img{
    width: 128px;
    height: 90px;
}
.dalete{
    color: rgba(50, 50, 50, 1);
    font-size: 26px;
    position: absolute;
    top: -4px;
    right: 20px;
}
.elemDiv{
    margin-left: 16px;
}
.elemDiv h3{
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
}
.elemDiv p{
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 8px;
}
.elemDivCnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    margin-top: 20px;
}
.elemDivCnt i{
    color: rgba(186, 93, 44, 1);
    font-size: 21px;
} 
.elemDivCnt h4{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
}
.footer2{
    font-family: "Charm";
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    height: 50px;
    position: absolute;
    bottom: 100px;
}
.shop{
    margin-bottom: 130px;
}
.shop button{
    background-color: rgba(186, 93, 44, 1);
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 4px;
    margin-left: 30px;
    color: white;
    position: absolute;
    bottom: 50px;
}